.app.dark {
  --bg-color: #06067a;
  --inverted-bg-color: #a7a0a0;

  --primary-color: #11d1bb;
  --secondary-color: #04ff04;

  --inverted-primary-color: #00258a;
  --inverted-secondary-color: #2353f0;
}
