<<<<<<< HEAD
.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
=======
.app.dark {
    --bg-color: #06067a;
    --inverted-bg-color: #a7a0a0;
    --primary-color: #11d1bb;
    --secondary-color: #04ff04;
    --inverted-primary-color: #00258a;
    --inverted-secondary-color: #2353f0;
}
>>>>>>> 19dff3394723decf3e4c408c0514b24d70abd984
