.app.light {
  --bg-color: #a8a2a2;
  --inverted-bg-color: #030375;

  --primary-color: #00258a;
  --secondary-color: #2353f0;

  --inverted-primary-color: #11d1bb;
  --inverted-secondary-color: #04ff04;
}
