<<<<<<< HEAD
:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
=======
.app.light {
    --bg-color: #a8a2a2;
    --inverted-bg-color: #030375;
    --primary-color: #00258a;
    --secondary-color: #2353f0;
    --inverted-primary-color: #11d1bb;
    --inverted-secondary-color: #04ff04;
}
>>>>>>> 19dff3394723decf3e4c408c0514b24d70abd984
