<<<<<<< HEAD
.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}
=======
.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.mainLink {
    margin-right: 15px;
}

.links {
    margin-left: auto;
}
>>>>>>> 19dff3394723decf3e4c408c0514b24d70abd984
