<<<<<<< HEAD
.AppLink {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
=======
.AppLink {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}
>>>>>>> 19dff3394723decf3e4c408c0514b24d70abd984
